body {
    background-color: #b2a5e5;
  }

h1{
  height:50vw;
  display:flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color:white;
  font-size:4vw;
}

h2{
  height:20vw;
  display:flex;
  align-items: center;
  justify-content: center;
  background-color: grey;
  color:white;
  font-style: italic;
  font-size: 2vw;
}

.results{
  padding-top:4vw; 
  padding-left:2vw; 
  padding-bottom:5vw;
  height: 50vw;
  display: flex;
}

.cast{
  border-radius:5vw;
}

.details{
  padding-top:2vw;
  padding-left:2vw;
  display:flex;
  flex-direction: column;
}

h3{
  background-color:white;
  border-radius: 0.6vw;
  font-size:2vw;
}

.descrip{
  background-color:rgb(194, 193, 193);
  margin-left:3vw;
  border-radius:0.6vw;
}

form{
  display:flex;
  flex-direction:column;
  align-items:center;
}


