body {
    background-color: #b2a5e5;
  }

h1{
  height:50vw;
  display:flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color:white;
}

h2{
  height:20vw;
  display:flex;
  align-items: center;
  justify-content: center;
  background-color: grey;
  color:white;
  font-style: italic;
  font-size: 1vw;
}

.results{
    height: 50vw;
    display: flex;
    /* align-items: center;
    justify-content: center; */
}

p span{
  display: block;
}

p{
  white-space: pre;
}

/* h3{
  height:0.5vw
} */

/* header h1 {
    color: lightslategray;
}

p {
    width: 300px;
    margin-top: 30px;
}

.specialText {
    color: coral
} */
